<a href="https://colab.research.google.com/github/HarryHaller42/AcademyPublic/blob/main/1Session_RedWine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#test

In [7]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 25.5MB/s]
100% 11.6M/11.6M [00:00<00:00, 46.1MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 46.0MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [9]:
a="test"
type(a)

str

In [10]:
cities = ["Paris" , "Zurich" , "Rome" , "Berlin" , "London"]
print(cities[0])
print(cities[-1])
print(cities.index("London"))
cities.remove(cities[0])
print(cities)

Paris
London
4
['Zurich', 'Rome', 'Berlin', 'London']

In [11]:
def area(length, width , hights):
  my_area = length * width
  my_volume = my_area * hights
  return my_volume
area (10,2,2)

40

In [12]:
cities.remove(cities[0])
print(cities)

['Rome', 'Berlin', 'London']

In [13]:
type(cities)

list

In [14]:
print ("Hello world")

Hello world

In [15]:
a=2
a<=3

True

In [16]:
7+3

10

In [17]:
7-3
7+3
21//2
21%2
2**2

4

In [18]:
import pandas as pd
import numpy as np

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv ('/content/winequality-red.csv')

In [20]:
df.head(6)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5

[6 rows x 12 columns]

In [21]:
df.tail(6)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1593            6.8             0.620         0.08  ...       0.82      9.5        6
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[6 rows x 12 columns]

In [22]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [23]:
df['fixed acidity'].head(2)

0    7.4
1    7.8
Name: fixed acidity, dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [25]:
df.shape

(1599, 12)

In [26]:
len(df)

1599

In [27]:
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [29]:
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

# Now let's complexify the database in order to have additional work to do later! Not important to understand
# Educational purpose

# Here I create a binary feature who will be used as target
# We use the numpy.where function which is equivalent to a if-then-else statement
# If df['quality'] >= 7 then df['Y']=1, else df['Y']=0
df['Y'] = np.where(df['quality']>= 7, 1, 0)

# We create as well some binary features of 'fixed acidity' & 'volatile acidity'
df['fixed_acidity_cat'] = np.where(df['fixed acidity']<= 8, 0, 1)
df['volatile_acidity_cat'] = np.where(df['volatile acidity']>= 0.4, 0, 1)

# Here I create some duplicates rows: I do a random sample of df and then I concat them at the end of df
temp = df.sample(n=150, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

# Here I create a new feature pH2 from pH where I had some missing values
df['pH2'] = np.where(df['pH'].index %15 ==0, np.nan, df['pH'])

# Here I create a new random feature 'acidity_other' from 'fixed acidity' and I create some missing values
rng = np.random.default_rng(893717398)
df = df.join(pd.Series(rng.normal(df['fixed acidity'].median(),1,len(df)), name='acidity_other'))
df['acidity_other'] = np.where(df['acidity_other'].index %2 !=0, np.nan, df['pH'])

#Here it is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)

# Now I apply my function in order to create the new feature 'date'
np.random.seed(893717398)
d_start = pd.to_datetime('2021-01-01')
d_end = pd.to_datetime('2021-06-30')
df['date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))
df['date'] = df['date'].astype(str)

## End of the complexification

In [31]:
df.head()

   fixed acidity  volatile acidity  ...  acidity_other                 date
0            7.4              0.70  ...           3.51  2021-01-06 14:38:36
1            7.8              0.88  ...            NaN  2021-02-07 08:11:30
2            7.8              0.76  ...           3.26  2021-06-27 12:25:26
3           11.2              0.28  ...            NaN  2021-06-16 05:25:38
4            7.4              0.70  ...           3.51  2021-01-20 10:10:16

[5 rows x 18 columns]

In [32]:
df.shape

(1749, 18)

In [33]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
Y                         int64
fixed_acidity_cat         int64
volatile_acidity_cat      int64
pH2                     float64
acidity_other           float64
date                     object
dtype: object

In [36]:
# Here I create a function having the name citric_acid_cat with the parameter x
# In the function, x will pass within a conditional statement. Given the value,
# it will return a letter (a category):
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

# Now we want to create a new feature citric_cat, which transform the numerical value
# of citric acid to the category defined above for each line of the feature.
# We could create a for loop. However the apply lambda is more efficient from a computing point of view 
# The x refers to the x of the function which is df['citric acid']
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

# When you do a mask, it is not only on numerical features but as well on categoricals:
mask5 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'] == 'A'))
df[mask5]
# On this example, I want to focus only on the category A so it is quick to write.
# However it is not always the case and you can filter through a list:

list_cat_to_keep = ['A', 'C']
mask6 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
df[mask6]
# dataframe['feature'].isin(list_specified) creates the list (the pandas Series to be precise) of boolean

# To finish, you could want all the element of a feature execpt those that you specify in a list.
# Let's say, you want to analyse all the citri_cat that are not in the list (here the cat=B)
# You can use: ~dataframe['feature'].isin(list_specified) // The '~' means not isin:
mask7 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (~df['citric_cat'].isin(list_cat_to_keep)))
df[mask7] #As you see, you only have the category 'B' of citric_cat.

      fixed acidity  volatile acidity  ...                 date  citric_cat
26              7.6              0.41  ...  2021-05-22 18:36:16           B
34              5.2              0.32  ...  2021-02-21 06:44:29           B
48              6.4              0.40  ...  2021-02-16 07:15:08           B
72              7.7              0.69  ...  2021-05-02 20:49:47           B
87              7.7              0.49  ...  2021-06-12 23:50:51           B
...             ...               ...  ...                  ...         ...
1702            8.7              0.54  ...  2021-02-11 05:18:59           B
1706           11.2              0.66  ...  2021-06-12 06:47:37           B
1715            9.0              0.46  ...  2021-01-01 07:15:26           B
1721            9.8              0.88  ...  2021-03-06 12:49:00           B
1740            6.5              0.34  ...  2021-02-18 22:27:02           B

[157 rows x 19 columns]

In [37]:
df['citric_cat'].describe()

count     1749
unique       3
top          C
freq       773
Name: citric_cat, dtype: object

In [38]:
df['citric_cat'] = np.where(df['citric_cat'] == 'C', 'Z', df['citric_cat'])

In [41]:
np.round(df['citric_cat'].value_counts(True)*100, 2)

Z    44.20
A    39.62
B    16.18
Name: citric_cat, dtype: float64

In [45]:
df.isna().sum(1)

0       1
1       1
2       0
3       1
4       0
       ..
1744    0
1745    1
1746    0
1747    1
1748    0
Length: 1749, dtype: int64

In [47]:
df['date'].head(3)
df['date'] = pd.to_datetime(df['date'], format= '%Y-%m-%d %H:%M:%S')

In [48]:
df.dtypes

fixed acidity                  float64
volatile acidity               float64
citric acid                    float64
residual sugar                 float64
chlorides                      float64
free sulfur dioxide            float64
total sulfur dioxide           float64
density                        float64
pH                             float64
sulphates                      float64
alcohol                        float64
quality                          int64
Y                                int64
fixed_acidity_cat                int64
volatile_acidity_cat             int64
pH2                            float64
acidity_other                  float64
date                    datetime64[ns]
citric_cat                      object
dtype: object